{
    "service": {
        "movie": {
            "host": "http://localhost",
            "port": 1234,
            "movies": "/movies",
            "movie_trackers": "/movie_trackers",
            "series": "/series",
            "timeline": "/timeline",
            "trackers": "/trackers",
            "votes": "/vote"
        },
        "user": {
            "host": "http://localhost",
            "port": 4321,
            "login": "/login",
            "logout": "/logout",
            "public_key": "/publickey",
            "refresh": "/refresh"
        },
        "image": {
            "host": "http://localhost",
            "port": 7331,
            "images": "/images",
            "fetch_milliseconds": 1800000
        }
    }
}